.header {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: black;
}

.header h1 {
    display: inline;
    font-size: 48px;
}

.header nav {
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline;
    margin-left: 25px;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.cover-photo {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Graduation\ Headshot.jpg");
    background-size: cover;
    background-position: center;
}
.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: ;
}

.work img {
    border-style: solid;
    border-width: 1px;
    padding: 02px;
    flex: 0 0 100px;
    margin: 05px;
    width: auto;
    max-width: 800px;
}

.work img:hover {
    opacity: 0.5;
  }

.contact ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 100px;
    margin-right: 100px;
    text-decoration: underline;
}